.basket{
    background-color: white;
}

.count_div{
    margin-top: 18px;
    margin-left: 13px;
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #339933;
    border-radius: 50%   ;
    color: white;
    align-content: center;

}
.count {
    /* position: absolute; */
    margin-top: 5px;
    align-items: center;
    margin-left: 0 ;
    color: white;
    font-size: 12px ;
}