.header{
    display: flex; 
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: auto;
    max-width: 1440px;
    height: 128px;
    list-style-type: none;
    background-color:white;
    border-bottom: 1px solid #DDDDDD;
}


