.nav {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 518px;
  list-style-type: none;
  background-color: white;
  text-emphasis: none;
}

.link {
  text-decoration: none;
  color: #8b8b8b;
}
.aria-current {
  
    color: #339933;
  }
